/* Import monserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.quote {
  font-size: 24px;
  font-weight: 600;
  margin-top: 48px;
  /* add animation so it blurs in on startup */
  animation: blurIn 1.3s ease-in-out;
}

/* code the animation */
@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

