.contentContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add any other desired styles here */
    /* set margin top to 170px */
    margin-top: 170px;

    padding: 40px 80px; /* Add the desired padding */
    border: 1px solid #ccc; /* Add the desired border */
  }
  