.contentContainer {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 100px auto;
  max-width: 600px;
  background-color: var(--primary-bg-color);
  color: #fff;
}

.centralAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  /* font-size: 28px; */
  margin-bottom: 48px;
}

.optionsTitle {
  font-weight: 400;
  margin-bottom: 30px;
} 

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionsDropdown {
  margin-bottom: 36px;
}