.contentContainer {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 60px auto;
  max-width: 800px;
  background-color: var(--primary-bg-color);
  color: #fff;
}

.job-listings-header {
  margin-bottom: 20px;
  font-size: calc(1.125 * var(--font-size, 18px));
}

.read-job-listings-button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.read-job-listings-button:hover {
  background-color: #f1f1f1;
}

.read-job-listings-button:active {
  background-color: #ddd;
}

.jobs-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(1.125 * var(--font-size, 16px));
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: calc(1.125 * var(--font-size, 16px));
}

/* .jobs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

/* .job-item {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
} */

.jobs-list li{
  list-style-type: none;
}

.job-details-list {
  margin-bottom: 10px;
  padding: 5px;
  border : 1px solid #fff;
  border-radius: 5px;
}

.job-details-list:hover {
  background-color: #fff;
  color: #000;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.job-details-list h3 {
  margin-bottom: 5px;
  font-size: calc(1.125 * var(--font-size, 16px));
}

.job-details-list p {
  font-size: var(--font-size, 16px);
}

.job-details-list div p {
  font-size: calc(1.125 * var(--font-size, 16px));
}