.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7286D3;
  padding: 1rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarLogo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbarMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbarItem {
  margin-left: 1rem;
  font-family: var(--primary-font-family);
  padding-right: 3rem;
}

.navbarLink {
  color: #FFF2F2; /* Updated initial color */
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.navbarLink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: center;
  transition: transform 0.15s ease-out;
}

.navbarLink:hover {
  color: #fff; /* Updated hover color */
}

.navbarLink:hover::after {
  transform: scaleX(1);
}

.navbarLogo img {
  height: 80px;
}

.container {
  font-size: var(--font-size, 16px);
}
