.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7286D3;
  padding: 1rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarLogo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbarMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbarItem {
  margin-left: 1rem;
  font-family: var(--primary-font-family);
  font-size: 40px; /* Updated font-size to 40px */
  padding-right: 3rem;
}

.navbarLink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbarLink:hover {
  color: #ddd;
}

.navbarLogo img {
  height: 80px;
}

/* .container {
  font-size: var(--font-size, 16px);
} */
