@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');


.textSlider {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal; /* Ensures the text is not bold */
    color: var(--primary-text-color);
    font-size: calc(1.125 * var(--font-size, 16px));
  }
  

  .textSlider::after {
    content: '|';
    display: inline;
    animation: blink 1s linear infinite;
    color: var(--primary-text-color);
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  