@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --font-size-large: 80px;
  --font-size-medium: 40px;
  --font-size-small: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-small);
}